{% extends "blog/base.html" %}

{% block title %} About {% endblock %}

{% block body %}

<div class="container-fluid" style="width: 70%;text-align: center;background-color: #437cd9;color: floralwhite;margin-top: 70px;">
  <!-- Header Row  -->
  <div class="row" id="about_tag" style="width: 80%;margin: auto;">
    <h1>About Us</h1>
    <hr>
  </div>
  <!-- What Who How Why All with Row Each? -->
  <div class="row" style="width: 80%;margin: auto;">
    <h2>Who</h2>
    <br>
    <p class="lead">We are a company dedicated toward crystalizing, preserving & spreading Humanity's
      Cultural Diversity by capturing & delivering conscious Media. </p>
  </div>
  <div class="row" style="width: 80%;margin: auto;">
    <h2>Why</h2>
    <br>
    <p class="lead">
      In a time when the world is fast becoming technological, and the prime of an
      Era of Artificial Intelligence is dawning with immense uncertainty for Humanity.
      We pride ourselves in bringing to our users, content that is aware, conscious, culturally
      diverse as well humane.</p>
    <p class="lead">
      It is through various forms of Media that the history of Human Culture has been preserved,
      and by observation we grow to learn & identify with the culture represented in the Media.
      This is why we strive to drive a gold-standard for Conscious Media, we believe in a better
      future. </p>
  </div>
  <div class="row" style="width: 80%;margin: auto;">
    <h2>How</h2>
    <br>
    <p class="lead">
      Whilst the move from broadcast Media has seen Media been decentralized, and an increase in
      the ablity to share & connect instantaneously through individual experience. Content creation
      has become extremely personalized.</p>
    <p class="lead">
      But there has been an increase in online platforms, because
      there is a need for trusted safe spaces where content is a minefield and is filtered, focus & instantaneous.
      We provide user-experience based content that is complemented by our in-house content creators, who undergo
      various forms of training in aspects of Culture & Reality.
      Our in-house content creators also produce user-experience based content, including shared experiences.
    </p>
  </div>
  <div class="row" style="width: 80%;margin: auto;">
    <h2>What</h2>
    <br>
    <p class="lead">
      01-November-2019
      We launched this blog site where we will be traversing our journey into preserving a
      Gold-Standard for the future of Media.
      We have also launched our Media Footprint through various Social Media platforms to give our users a chance
      to participate in our development.</p>
    <p class="lead">
      01-June-2020
      We will launch our Music App which we intend to have as much user input as possible, by communicating our journey
      with our users through this blog site & other Social Media platforms.</p>
    <p class="lead">
      01-March to 01-April-2019
      We will host our first promotional competition where users who would like to join our in-house content creators,
      can post content which other users will promote on a charted list by interacting with the content. The most
      interactions will have a chance to go through our 2-Week training & 2-Week probation period.
    </p>
  </div>
  <div class="row" style="width: 80%;margin: auto;">
    <h2>We are the Youth and We are the Future</h2>
  </div>

  </div>
</div>


{% endblock %}
