{% extends "blog/base.html" %}

{% block title %} Articles {% endblock %}

{% block body %}
  <div class="container-fluid" style="padding: 0;">
    <!-- Here The CONTENT Row -->
    <div class="row">
      <!-- The List for All Articles -->
      <div class="col-lg-4">
        <h3>All Articles</h3>
        <hr>
        <div class="container-fluid">
          {% for article in Articles %}
            <div class="row" id="list_articles">
              <div class="col-sm-4">
                <img src="{{ article.cover_art.url }}" alt="cover_art" height="150px" width="150px"/>
              </div>
              <div class="col-sm-8">
                <h4>{{ article.Title }}</h4>
                <br>
                <p> {{ article.editors_note }} </p>
                <p> {{ article.Author }}, {{ article.date }} </p>
              </div>
            </div>
          {% endfor %}
        </div>

      </div>
      <!-- The DISPLAY for the Article Instances == Using VAR=CONTENT -->
      <div class="col-lg-8">
        <h1>{{ Content.Title }}</h1>
        <p class="lead">{{ Content.editors_note }}</p>
        <hr>
        <p>{{ Content.intro }}</p>
        <br>
        <p>{{ Content.para_1 }}</p>
        <br>
        <p>{{ Content.para_2 }}</p>
        <br>
        <p>{{ Content.para_3 }}</p>
        <br>
        <p>{{ Content.conclusion }}</p>
        <br>
        <p>Author:{{ Content.Author }}</p>

      </div>
    </div>
    <!-- Here Buttons for Previous and Next -->
    <div class="row">
      <span> Previous </span>
      <span> Next </span>
    </div>

  </div>


{% endblock %}
