{% extends "blog/base_articles" %}

{% block title %} {{Content.Title}} {% endblock %}

{% block center %}
<div class="col-lg-7 mx-auto" id="reader">
  <h1>{{ Content.Title }}</h1>
  <p class="lead">{{ Content.editors_note }}</p>
  <hr>
  <p>{{ Content.intro }}</p>
  <br>
  <p>{{ Content.para_1 }}</p>
  <br>
  <p>{{ Content.para_2 }}</p>
  <br>
  <p>{{ Content.para_3 }}</p>
  <br>
  <p>{{ Content.para_4 }}</p>
  <br>
  <p>{{ Content.conclusion }}</p>
  <br>
  <p>Author:{{ Content.Author }}</p>

</div>
{% endblock %}
