<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">
    <meta name="description" content="">
    <meta name="author" content="">

    {% load staticfiles %}
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">

    <!-- W3 Schools CSS -->
    <link href="https://www.w3schools.com/w3css/4/w3.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="{% static 'css/scrolling-nav.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">


    <!-- Author CSS -->
    <link rel="stylesheet" href="{% static 'css/box-blog.css' %}">
    <!-- Title -->
    <title>{% block title %}{% endblock %}</title>
</head>
<body style="background-color: #373b41;">
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-white text-black-50 fixed-top" id="mainNav"
         style="background-image: linear-gradient(to right, #001421, #437cd9);font-size: 15px;height: 50px;padding: 0;margin-bottom: 0;border: none;">
        <div class="container-fluid" >
            <a class="navbar-brand js-scroll-trigger" href="{% url 'index' %}">
                <img src="{% static 'images/Logo.png' %}" alt="logo" height="20" width="60"/>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-nav mr-auto"  id="empty_space" style="width: 83%;">
                <li class="nav-item"></li>
            </div>
            <div class="collapse navbar-collapse" id="navbarResponsive" style="width: 25%;padding: 0;margin-left: auto;">
                <ul class="navbar-nav">
                    <li class="nav-item" style="margin-left: 150px;padding-top: 10px;">
                        <a class="nav-link js-scroll-trigger text-white" href="{% url 'index' %}">Home</a>
                    </li>
                    <li class="nav-item ml-2" style="padding-top: 10px;">
                        <a class="nav-link js-scroll-trigger text-white" href="#contact">About</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <br>
    <div class="row" style="background: #000;color: floralwhite;">
        <span><a href="{% url 'Trap' %}">TRAP</a></span>
        <span><a href="{% url 'Rap' %}">RAP</a></span>
        <span><a href="{% url 'Hip_Hop' %}">HIP-HOP</a></span>
        <span><a href="{% url 'Soul' %}">SOUL</a></span>
        <span><a href="{% url 'House' %}">HOUSE</a></span>
        <span><a href="{% url 'Rock' %}">ROCK</a></span>
    </div>
    <br>
    <div class="container-fluid">
        <!-- Insert Logo Here (2EmptyColumns--LogoInCenter) -->
        <!-- This is the Button meant for FRONT as BUTTON to play
        <div class="row" style="padding-top: 10px;">
                <div id="some_line" style="position: absolute; width: 80%;height: 10px;margin-top: 40px;margin-left: 140px;border-radius: 25px 25px 25px 25px;">

                </div>
                <div id="funimate_block" style="height: 100px; width: 305px; margin: auto;position: relative;border: 5px solid aquamarine;border-radius: 25px 25px 25px 25px;
                                                background-color: floralwhite;">
                    <img src="{% static 'images/Logo.png' %}" alt="logo" style="position: relative; height: 98%; width: 98%"/>
                </div>

        </div> -->
        <!-- Content = Article List (Links) + "WELCOME NOTE" (Some Centred Text) + Imagery(or Osmething) -->
        <div class="row" style="background-color: #373b41;padding-top: 10px;">
                    <!-- List Articles as Links Here -->
                    <div class="col-lg-2">
                        <h1>Articles</h1>
                        <br>
                        {% block body %}
                        {% endblock %}
                    </div>
                    <!-- Some Centered Text Here -->
                    <div class="col-lg-6">
                        {% block center %}
                        {% endblock %}
                    </div>
                    <!-- Imagery or Osmething -->
                    <div class="col-lg-4">
                        {% block imagery %}
                        {% endblock %}
                    </div>

        </div>
    </div>

</body>
</html>
