<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- JS SCripts -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <!-- bootstrapcdn -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    {% load staticfiles %}
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">

    <!-- W3 Schools CSS -->
    <link href="https://www.w3schools.com/w3css/4/w3.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="{% static 'css/scrolling-nav.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">


    <!-- Author CSS -->
    <link rel="stylesheet" href="{% static 'css/box-blog.css' %}">
    <!-- Title -->
    <title>{% block title %}{% endblock %}</title>
</head>
<body style="background-color: #15171d;color: floralwhite;">
<!-- Navigation -->
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active"><a class="navbar-brand" href="{% url 'index' %}">
          <img src="{% static 'images/Logo.png' %}" alt="logo" height="20" width="60"/></a></li>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
        <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      </ul>
    </div>
  </div>
</nav>
<nav class="navbar navbar-inverse">
  <ul class="nav navbar-nav">
    {% for type in Genres %}
      <li><a href="{% url 'genres' type.id %}"> {{ type.name }}</a>
    {% endfor %}
</nav>

<section id="display"style="padding-top: 0;">
<!-- Content Block -->
{% block body %}
{% endblock %}

</section>

</body>
</html>
