<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">
    <meta name="description" content="">
    <meta name="author" content="">

    {% load staticfiles %}
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">

    <!-- W3 Schools CSS -->
    <link href="https://www.w3schools.com/w3css/4/w3.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="{% static 'css/scrolling-nav.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">


    <!-- Author CSS -->
    <link rel="stylesheet" href="{% static 'css/box-blog.css' %}">
    <!-- Title -->
    <title>{% block title %}{% end block %}</title>
</head>
<body style="background-color: #373b41;">
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-white text-black-50 fixed-top" id="mainNav"
         style="background-image: linear-gradient(to right, #001421, #437cd9);font-size: 15px;height: 35px;padding: 0;margin-bottom: 0;border: none;">
        <div class="container-fluid" >
            <a class="navbar-brand js-scroll-trigger" href="{% url 'index' %}">
                <img src="{% static 'images/Logo.png' %}" alt="logo" height="20" width="60"/>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-nav mr-auto"  id="empty_space" style="width: 83%;">
                <li class="nav-item"></li>
            </div>
            <div class="collapse navbar-collapse" id="navbarResponsive" style="width: 25%;padding: 0;margin-left: auto;">
                <ul class="navbar-nav">
                    <li class="nav-item" style="margin-left: 150px;padding-top: 5px;">
                        <a class="nav-link js-scroll-trigger text-white" href="{% url 'index' %}">Home</a>
                    </li>
                    <li class="nav-item ml-2" style="padding-top: 5px;">
                        <a class="nav-link js-scroll-trigger text-white" href="#contact">About</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <section id="display" style="padding-top: 35px;">
      <div class="container-fluid" id="welcome_container">
          <!-- Welcome Tag -->
          <div class="container-fluid text-center" id="welcome">
            <!-- Genres List of Span Links to Articles By Genre -->
            <div class="row" id="genre_span">
              {% for type in Genres %}
                <span class="strong"><a href="{% url 'genres' type.name %}"/> {{ type.name }}</span>
              {% end for %}
            </div>
          </div>
      </div>

      <!-- Content Block -->
      {% block body %}
      {% end block %}
    </section>

</body>
</html>
