{% extends "blog/base_articles.html" %}

{% block title %} {{ center }} {% endblock %}

{% block center %}
<!-- Main View -->
<div class="col-lg-7 mx-auto">
  <div class="row" id="all_tag" style="width: 50%; margin-left: 20px;">
    <h2>{{ center }} Articles</h2>
  </div>
  <div class="container">
    {% for article in Articles_by_Genre %}
    <div class="row" id="genre_list_articles">
      <div class="col-sm-4">
        <img src="{{ article.cover_art.url }}" alt="cover_art" height="75%" width="100%" style="margin: 20px 0 20px 0"/>
      </div>
      <div class="col-sm-8">
        <h4><a href="{% url 'articles' article.id %}">{{ article.Title }}</a></h4>
        <br>
        <p> {{ article.editors_note }} </p>
        <p> {{ article.Author }}, {{ article.date }} </p>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
