{% extends "blog/base.html" %}

{% block title %}
    Home
{% endblock %}

{% block body %}
<!-- welcome tag -->
<div class="container" id="welcome_span">
  <div class="row">
    <div class="col-lg-8 mx-auto">
      <h1> Welcome to the Box </h1>
    </div>
  </div>
</div>
<!-- Content Tag -->
<div class="container" id="content_container">
    {% for article in Articles %}
      <div class="row">
        <!-- Image Block -->
        <div class="col-lg-4 mx-auto">
          <img src="{{ article.cover_art.url }}" alt="Cover_art" height="300px" width="300px" position="relative"/>
        </div>
        <!-- Content Block -->
        <div class="col-lg-8 mx-auto" style="padding: 0">
          <h2><a href="{% url 'articles' article.id %}">{{ article.Title }}</a></h2>
          <hr>
          <p>{{ article.editors_note }}</p>
          <br>
          <p class="lead"> {{ article.Author}}, {{ article.date }}</p>
        </div>
      </div>
    {% endfor %}
</div>

{% endblock %}
